# vim: ft=yaml
# Custom Pillar Data for rsnapshot

rsnapshot:
  config:
    snapshot_root: /var/backups
    
  servers:
    web:
      enabled: True
      items:    # Important: ensure the tab character is used to separate values
        - 'backup	root@web:/etc/	/'
        - 'backup	root@web:/home/	/'
        - 'backup	root@web:/root/	/'
        - 'backup	root@web:/usr/local/	/'
      cron:
        daily:
          enabled: True
          minute: random
          hour: 2
          daymonth: '*'
          month: '*'
          dayweek: '*'
        weekly:
          enabled: True
          minute: random
          hour: 4
          daymonth: '*'
          month: '*'
          dayweek: 0
        monthly:
          enabled: True
          minute: random
          hour: 6
          daymonth: 1
          month: '*'
          dayweek: '*'          

    db:
      items:   # Important: ensure the tab character is used to separate values
        - 'backup_exec	ssh root@db	"mysqldump -A > /var/db/dump/mysql.sql"'
        - 'backup	root@db:/var/db/dump/	example.com/'
        - 'backup	root@db:/etc/	/'
      cron:
        daily:
          enabled: True
          minute: random
          hour: 2
          daymonth: '*'
          month: '*'
          dayweek: '*'
